[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "miniMeta"]
	path = miniMeta
	url = https://github.com/thlytras/minimeta
[submodule "rspiro"]
	path = rspiro
	url = https://github.com/thlytras/rspiro
