[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "FluMoDL"]
	path = FluMoDL
	url = https://github.com/thlytras/flumodl
	shallow = true
	registered = true
[submodule "miniMeta"]
	path = miniMeta
	url = https://github.com/thlytras/minimeta
	shallow = true
	registered = true
[submodule "rspiro"]
	path = rspiro
	url = https://github.com/thlytras/rspiro
	shallow = true
	registered = true
